*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    background: url("../img/1.jpg") center/cover fixed no-repeat;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    transition: background 1.4s cubic-bezier(0.85,-0.1, 0.14, 1.11);
}
.white-box{
    background: rgba(150, 150, 150, 0.777);
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 300px;
    height: 550px;
    z-index: 1;
    padding: 12px;
    padding-top: 23%;
    border-radius: 12px;
}
.white-box #head{
    font-size: 12px;
    font-family:monospace;
    text-align: center;
    color: white;
    font-weight: 600;
}
.typing-text{
    color: white;
    font-size: 14px;
    margin: 15px;
    font-weight: bold;
     /* text-align: justify; */
     /* color: red; */
     font-family: 'Courier New', Courier, monospace;
}
.img-circle{
    background: url("../img/F1.jpg") center/cover fixed no-repeat;
    border: 1px solid #7c7c7c;
    border-radius: 50%;
    left: 50%;
    top: 20%;
    transform: translate(-50% , -50%);
    width: 190px;
    height: 190px;
    position: absolute;
    z-index: 10;
    transition: background 1.4s cubic-bezier(0.85,-0.1, 0.14, 1.11);
}