/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-div{
    background: #fbf3f2;
    /* background: #000; 
    width: 100%;
    height: 100vh;

}
.tittle-div{
    font-size: 2.9em;
    padding:24px;
    padding-bottom: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.context{
    color: #032539;
    font-size: 1.7em;
    padding:  16px;
    width: 70%;
}

@media (max-width: 770px){
    .context{
        width: 100%;

    }
    .tittle{
        text-align: center;
    }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #31e1f7 !important;
  margin: 12px 24px;
}
.tittle-div {
  /* border: 1px solid red; */
  padding: 10px;
}
.tittle-div input {
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  border-radius: 18px;
  width: 90%;
  height: 40px;
  outline: none;
  background: #ececec;
  padding-left: 24px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: inset 5px 5px 12px rgb(237, 190, 255),
    5px 5px 12px rgba(112, 199, 173, 0.7);
}
.context-div {
  /* border: 1px solid blue; */
  padding: 10px;
  height: 80vh;
}

.context-div textarea {
  border: none;
  background: #ececec;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 0 24px 24px 0;
  font-size: 1.4rem;
  width: 90%;
  height: 75%;
  outline: none;
  box-shadow: inset 5px 5px 12px rgb(207, 207, 207),
    5px 5px 12px rgba(251, 255, 240, 0.815);
}
.btns {
  padding: 10px;
}
.btns button {
    /* display: block; */
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  margin-top: 20px;
  border-radius: 18px;
  width: 60%;
  height: 40px;
  outline: none;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: inset 5px 5px 12px rgb(237, 190, 255),
    5px 5px 12px rgb(0, 0, 0, 0.7);
}
@media (min-width: 630px) {
  .btns button {
    width: 190px !important;
    display: block !important;
  }
}
