* {
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
  
  }
  /* header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
  } */
  nav {
    position: relative;
    font-weight: bold;
    width: 100vw;
    height: 50px;
    background: #f1f4f5;
  }
  nav span {
    text-align:left;
    /* float: right; */
    color: yellowgreen;
    font-size: 1.5rem;
    padding-left: 20px;
    line-height: 50px;
  }
  .profile{
    position: absolute;
    /* margin-top: 10px; */
    top: 10px;
    left: 90px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 50%;
    overflow: hidden;
    /* float: right; */
  }
  .profile img{
    width: 30px;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 50px;
  }
  nav ul li a {
    color: #d5768f;
    padding: 15px 10px;
  }
  nav ul li a:hover {
    color: yellowgreen;
    border-bottom: 2px solid yellowgreen;
  }
  
  @media (max-width: 768px) {
    nav ul {
      position: fixed; 
      left: 0;
      width: 70%;
      height: 100vh;
      background: #f1f4f5;
      padding-left: 10px;
      left: -100%;
      transition: 0.7s ease-in;
    }
    nav ul li {
      /* border: 1px solid red; */
      display: block;
    }
    nav ul li a {
      display: block;
      padding: 7px;
      /* color: inherit; */
      outline: none;
      
      /* border: 1px solid blue; */
      -webkit-tap-highlight-color: transparent;
      transition: color 0.3s ease-in;
    }
    nav ul li a:active{
      background-color: transparent;
      color: rgb(69, 97, 12);
      /* transition: color 1s ease; */
    }
    nav ul.slide {
      position: absolute;
      z-index:100;
      left: 0;
      transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .hamburger {
      float: right;
      margin-top: 15px;
      margin-right: 12px;
    }
  
    .hamburger .line {
      width: 20px;
      height: 4px;
      margin-bottom: 3px;
      display: block;
      background: #000;
      border-radius: 10px;
    }
    .target-area {
      position: fixed;
      top: 51px;
      right: 0;
      width: 29%;
      height: 100%;
      /* background-color: lightgray; */
      opacity: 0.5;
      z-index: 9999; /* Adjust z-index as needed */
      pointer-events: auto;
    }
  }
  