* { 

   margin: 0; 

   padding: 0; 

   text-align: center; 

   box-sizing: border-box; 

   user-select: none; 

 } 

 .my-table { 

   border-collapse: collapse; 

   margin: auto; 

   margin-top:40px ; 

   margin-bottom:40px ; 

   width: 90%; 

 } 

 th{ 

     border: 1px solid black;   

 } 

 .my-table td { 

   border: 1px solid black; 

   padding: 10px; 

  

 }
