*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#logo{
    font-family: 'Poppins', sans-serif;
    height: 30px;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}
#navbarNav a:hover{
    color: orange;
}
#navbarNav button:hover{
    color: orange;
    text-decoration: none;
}
#cart{
    color: black;
    margin-left: 29px;
}
#navbarNav a:hover{
    text-decoration: none; 
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .product {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product h3 {
    margin-top: 0;
    font-size: 1.2em;
  }
  
  .product p {
    margin-bottom: 0;
    font-size: 1.2em;
  }
  .product-box-container{
    padding: 30px;
  }
  .cover-image {
    position: relative;
    overflow: hidden;
  }
  .cover-image img {
    display: block;
    width: 100%;
    height: auto;
  }
  .cover-image button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
  .cover-image .prev-btn {
    left: 0;
  }
  .cover-image .next-btn {
    right: 0;
  }
  .nav-dtail{
    /* text-align: left; */
}
.cover-image img{
    height: 50%; 
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
.product-container a{
    color: black;
    font-weight: bold;
}

.product-container a:hover{
    color: orange;
}
