*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* display: flex; */
    /* justify-content: center; */
    background: #5a5a5a;
}
.parent-box {
    /* border: 5px solid red; */

    display: grid;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 80px 80px 80px;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50% , -50%)
}
.parent-box div{
    border: 1px solid gray;
    width: 80px;
    height: 80px;
    /* box-shadow: 2px 2px 10px 0px blue; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: aqua;
}
.box1,.box2 ,.box3{
    border-top: none !important;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}
.box1,.box4,.box7{
    border-left: none !important;
}
.box7,.box8,.box9{
    border-bottom: none !important;
}
.box3,.box6,.box9{
    border-right:none !important;
}


.winner-box{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-weight: bolder;
    font-size: 1.2rem;
    color: rgb(127, 255, 249);
    padding: 9px;
    border-radius: 12px;

}
#border-id{
    border: 1px solid rgb(161, 161, 161);
}
.refresh-btn button{
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-weight: bolder;
    font-size: 1.6rem;
    color: rgb(127, 255, 249);
    background: #000;
    padding: 8px;
    border-radius: 12px;
    outline: none;
    border: none;

}
.players{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    padding: 12px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* display: block !important; */

}
.players div{
    display: inline !important;
    border: 1px solid grey;
    text-align: center;
    font-size: 1.3rem;
    width: 150px;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    color: aqua;
    font-weight: bolder;
    /* background: #000; */
}